services:
  zk:
    image: zookeeper:latest
    environment:
      ZOO_SERVERS: server.1=0.0.0.0:2888:3888;2181
  kafka:
    image: wurstmeister/kafka:2.12-2.1.1
    environment:
      KAFKA_ADVERTISED_HOST_NAME: kafka
      KAFKA_ZOOKEEPER_CONNECT: "zk:2181"
      KAFKA_CREATE_TOPICS: "test:1:1"
    ports:
      - "9092"
  cmak:
    build: .
    ports:
      - "9000"
    environment:
      ZK_HOSTS: "zk:2181"
